@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Oswald:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

canvas {
  display: block;
}

button {
  font-family: 'Inter', sans-serif;
}
